@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

<<<<<<< Updated upstream
    <h1 class="display-4">Welcome text for democlass</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core updated first democlass Dec31 changes</a>.</p>
    <p>Today is a Dotnet bug fixed demo class Priya prod deployment</p>
    <p>Today is March21st</p>
 
=======
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core  </a>.</p>
    <p>Today is devops demo class on June30 and welcome sept3 </p>
    <p> Deployment to Production Success</p>
    <p> demo to ITC students</p>

>>>>>>> Stashed changes
</div>
