@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome text for democlass</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core updated first releasev2 July29th  changes</a>.</p>
    <p>Today is a docker demo class </p>
    <p>Today democlass to Rajasekhar</p>
    <p>Updated version to push to ECR</p>
    <p>new build updated for docker image creation 2022 </p>

</div>
