@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core  </a>.</p>
    <p>Today is devops demo class on June30 and welcome july30 </p>
    <p> Deployment to Production Success</p>
    <p> demo to ITC students</p>
</div>
