@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy oct22.</p>
<p> This page is a privacy policy of company</p>
<p>updated text</p>
